body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 10px;
}

a {
  color: #589636;
}

.json {
	font: 12px "Lucida Console", Menlo, monospace, Consolas;
}

.errorMessage {
	font-weight: bold;
	color: red;
}

.warningMessage {
	color: brown;
}
.successMessage {
	color: green;
}